# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Data Lake (données brutes et transformées — trop lourdes pour git)
data_lake/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# PostgreSQL credentials
pgpass
*.pgpass

# Jupyter
.ipynb_checkpoints/
